@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my golfing hobby page.</h1>
    <br />
    <br />
    <p>Golf, often described as a sport of precision and patience, is a timeless pursuit that captivates enthusiasts worldwide. It transcends mere competition, evolving into a cherished pastime embraced by individuals of all ages and backgrounds. At its core, golf is a symphony of skill, strategy, and camaraderie, played out on meticulously manicured greens against the backdrop of nature's beauty. From the serene tranquility of a morning tee-off to the exhilarating challenge of navigating hazards, each round offers a unique journey of self-discovery and growth. Beyond the physical aspect, golf fosters a deep connection with tradition and etiquette, emphasizing respect, integrity, and honor. Whether it's the exhilaration of a well-struck drive or the satisfaction of sinking a challenging putt, golf leaves an indelible mark on those who embrace its allure, shaping character and forging enduring bonds that extend far beyond the fairways.</p>
    <h2>Below I would like to show two pictures of me golfing.</h2>
    <br />
    <img src="~/images/img_0495.jpeg" style="max-width: 40%; height: auto; display: block; margin: 0 auto;" /> <img src="~/images/img_0088.jpeg" style="max-width: 40%; height: auto; display: block; margin: 0 auto;" />
    <h4>The first image is in Hawaii, the second is in the snowey Utah.</h4>
    <p>I started to play golf when I was 17. I learned prior to leaving on my mission. Golf is like life, in that it is a journey of continual improvement towards an impossible goal of perfection. You continue to perfect your swing's forms, your body's health and no matter what you do you will never reach a point of perfection or total satisfaction.</p>
</div>
